:root {
    --primary50: #F9F5FF;
    --primary600: #7F56D9;
    --red50: #FEF3F2;
    --red500: #F04438;
    --red600: #B42318;
    --gray50: #F9FAFB;
    --gray100: #F2F4F7;
    --gray200: #E4E7EC;
    --gray300: #D0D5DD;
    --gray500: #667085;
    --gray700: #344054;
    --gray900: #101828;
    --success50: #ECFDF3;
    --success500: #12B76A;
    --success700: #027A48;
}
*:not(body)::-webkit-scrollbar {
    width: 8px;
}
*:not(body)::-webkit-scrollbar-track {
    background: #ffffff;
}
*:not(body)::-webkit-scrollbar-thumb {
    background-color: #EAECF0;;
    border-radius: 8px;
    border: 1px solid #ffffff;
}